@model AbonnementenDienst.Models.Magazine

@{
    ViewBag.Title = "Maak nieuw magazine";
}

<div class="container">
    <h2>Voeg magazine toe</h2>
    <p>
        Voeg een nieuw magazine toe in de database.
    </p>
   <div class="createform">
       @Html.RenderPartial("CreateFormPartial.cshtml", model);
   </div>
</div>

<!-- Unobtrusive Ajax -->
@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
}